.menu {
  display: flex;
  right: 10%;
  top: 0px;
  height: 70px;
  align-items: center;
  margin-right: 10%;
}

.menuItem {
  text-transform: capitalize;
  padding-bottom: 5px;
}

.menuItemContainer {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.menuItem:hover {
  color: #f3843d;
}

.underline {
  height: 2px;
  width: 100%;
}

.underlineAnimated {
  animation: underline 1s;
  background-color: #f3843d;
}
