@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@keyframes opacity {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes underline {
  from {
    /* border-bottom: 2px solid transparent; */
    width: 0px;
  }
  to {
    /* border-bottom: 2px solid #f3843d; */
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #f3843d;
}

.textOrange {
  color: #f3843d;
}
