@keyframes opacity {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

a {
color: #ffffff;
text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #ffffff;
  height: 750px;
  background-image: url('/src/content/headerBackGoundImg.jpg');
  background-size:cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll ;
}

.header:after {
  content: "";
  position: absolute;
  height: 750px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.headerMid{
  z-index: 2;
}

#textTyping{
  font-weight: 400;
}

.navBar {
  width: 100%;
  color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.menu{
  display: flex;
  right: 10%;
  top: 0px;
  height: 70px;
  align-items: center;
  margin-right: 10%;
}

.menuItem{
  padding-left: 30px;
}

.menuItem:active:after{
  content: '';
  margin-top: 5px;
  display: block;
  width: auto;
  height: 4px;
  background-color: #F3843D;
}

.menuItem:hover{
  color: #F3843D;
}

.logo{
  display: flex;
  margin-left: 5%;
  top: 0px;
  height: 70px;
  align-items: center;
}

.logo > h2{
  margin: 0px;
  padding-bottom: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.button{
  margin-right: 20px;
  font-weight: 600;
  border-radius: 30px;
  padding: 8px 28px;
  border-color: #F3843D;
  background-color: #ffffff;
  color: #F3843D;
  transition: 0.8s;
  border-style: solid;
}

.button:hover{
  background-color: #F3843D;
  color: #FFFFFF;
  transition: 0.5s;
}

.primaryButton{
  background-color: #F3843D;
  color: #FFFFFF;
  transition: 0.5s;
}
.primaryButton:hover {
  background-color: #FFFFFF;
  color: #F3843D;
  transition: 0.5s;
}

.btnIcon{
  margin-left: 10px;
}

.about{
  margin: 100px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.aboutFoto{
  width: 30%;
}

.aboutInfo{
  margin-left: 40px;
  width: 50%;

}

.thin {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1px;
  margin-top: 0px;
  padding-bottom: 15px;
  display: inline-block;
  border-bottom: 1px solid #e0e0e0;
}



.thin::after{
  display: block;
  content: "";
  position: relative;
  bottom: -16px;
  background: #F3843D;
  width: 70px;
  height: 1px;
}

.aboutDetails > div{
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.aboutDetails > div >p {
  font-size: 16px;
  width: 33%;
}
.aboutDetails > div > p > a {
  text-decoration: none;
  color: #000000;
}

.aboutDetails > div > p > a:hover{
  color: #F3843D;
}

.aboutDetailsIcon{
  margin-right: 5px;
}

.aboutButtons{
  margin-top: 60px;
}

.resume{
display: flex;
align-items: center;
flex-direction: column;
height: 700px;

}

.switcher {
  display: flex;
  margin: 30px 0px 40px 0px;
}

.tab{
  height: 35px;
  width: 150px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #4B4E53;
  color: #e0e0e0;
}

#tab-0{
  border-radius: 20px 0px 0px 20px;
}

#tab-1{
  border-radius: 0px 20px 20px 0px;
}

.active{
  background-color: #3d4041;
  color: #F3843D;
}

.tab label{
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.content{
  animation: opacity 0.7s ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume > h2::after {
  left: 40px;
}

.resumeIcon{
  text-align: center;
  border: 2px solid #C8C8C8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.iconLine {
  height: 50px;
  width: 2px;
  background-color: #C8C8C8;
  margin: 0px 0px 5px 0px;
}

.resumeIcon > span{
  font-size: 30px;
}

.contentBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.left {
 display: inherit;
 flex-direction: row-reverse;
 text-align: right;
 justify-content: flex-start;
}

.period {
  width: 400px;
  display: flex;
  justify-content: inherit;
}

.period span {
  display: block;
  width: 100px;
  height: 30px;
  background-color: #F3843D;
  border-radius: 15px;
  text-align: center;
}

.branch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px 5px 10px;

}

.description {
  width: 400px;
}

.description h4 {
  margin: 0px;
}

.point {
  width: 10px;
  height: 10px;
  border: 2px solid #F3843D;
  border-radius: 8px;
}

.line {
  margin-top: 5px;
  height: 120px;
  width: 2px;
  background-color: #C8C8C8;
}

.skillsScale{
  animation: opacity 0.7s ;
 
}

.progressBar {
  width: 600px;
  height: 10px;
  background-color: #C8C8C8;
  border-radius: 5px;
}

.progressBar > span {
  display: block;
  background-color: #F3843D;
  height: inherit;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
